USERS_SOURCE=local
DB_SOURCE=postgres
BCRYPT_COST=12
JWT_SECRET=cambia_esto_por_algo_largo_aleatorio
JWT_EXPIRES_SEC=3600

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=tu_password_de_psql
DB_NAME=nombre_de_tu_bd_crearla_manualmente
RESEND_API_KEY=re_obtenido_pagina_web